/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
/.cpcache
.nrepl-port
# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache

# emacs
*~
\#*\#

*.iml
/.idea

#
# App specific ignores
/data
github-token.txt
github-oauth-*.edn
